<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Report Rishwat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Report Rishwat">
    <meta name="author" content="CivHackathon">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/ css/custom.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" 
          href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" 
          href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" 
          href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" 
          href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" 
          href="ico/favicon.png">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" 
                  data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.html">Report Rishwat</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/index">Submit a Report</a></li>
              <li><a href="/list">Read Submitted Reports</a></li>
              <li class="active"><a href="/categories">Categories</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container row span12">
      <div class="hero" hidden>
	      <h1>Report Rishwat</h1>
      </div>
      <div class="posted span6">
      <form method="post" action="/results">
        <p>
          <h2>Find reports:</h2>
        </p>
	    <p>
          <input type="text" placeholder="Area" name="Location">
        </p>
	    <p>
          <input type="text" placeholder="Department" name="dept">
        </p>
	    <p>
          <input type="text" placeholder="Transaction Type" name="transac">
        </p>
        <p>
          <button class="btn btn-primary btn-large" type="submit">Search</button>
        </p>
      </form>
      </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand">
            <a href="http://www.codeforpakistan.org/">
              <img src="/static/images/COPIcon.png" height="100" width="90">
            </a>
          </a>
        </div>
      </div>
    </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
  </body>
</html>
