<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Report Rishwat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Report Rishwat">
    <meta name="author" content="CivHackathon">

    <script src="/static/js/app.js"></script>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" 
          href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" 
          href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" 
          href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" 
          href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favicon.png">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" 
                  data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar">></span>
          </button>
          <a class="brand" href="/index">Report-a-Rishwat</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/index">Submit a Report</a></li>
              <li><a href="/list">Read Submitted Reports</a></li>
              <li><a href="/categories">Categories</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero">
    </div>
    <div class="posted row">
      <div class="span5">
        <img src="/static/images/info.png" style="margin-top:-20px; margin-bottom:-20px;" height="90%" width="90%">
      </div>
      <div class="form-bg span5 pull-right" style="padding:40px;">
        <h1>Report-a-Rishwat</h1>
        <form method="post" name="submit" action="/ThankYou" onsubmit="return validate();">
            <p>
              <input type="text" placeholder="Date it took place" 
                     name="date" />
            </p>
        	<p>
              <input type="text" placeholder="Location" 
                     name="location" />
            </p>
    		<p>
              <input type="text" placeholder="Type of service" 
                     name="service">
            </p>
        	<p>
              <input type="text" placeholder="Name of the offending officer" 
                     name="officer" />
            </p>
    		<p>
              <input type="text" placeholder="Bribe Paid (Optional)" 
                     name="amount">
            </p>
    		<p>
              <textarea name="description" tabindex="5"  placeholder="Enter a description of the event here"></textarea>
            </p>
    		<p>
              <button class="btn btn-primary btn-large" type="submit">Submit</button>
            </p>
    	  </form>
		</div>
      </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand">
            <a href="http://www.codeforpakistan.org/">
              <img src="/static/images/COPIcon.png" height="100" width="90">
            </a>
          </a>
        </div>
      </div>
    </div>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
  </body>
</html>
