<!doctype html>
<html lang="en">
	<head>
        <meta charset="utf-8">
		<title>Corruption Petitioner</title>
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body>
				<form name="bribe-sms" method="post" action="http://snake2k.pythonanywhere.com/ThankYou">
                    Thank you for using Report-a-Bribe.<br/>
                    When did this take place? (DD/MM/YY)
					<input type="text" name="date" /></input>
                    Where did this take place?
                    <input type="text" name="location" /></input>
                    <!--
                    <input name="location" type="radio" value="Baldia">Baldia</input><br />
                    <input name="location" type="radio" value="Bin Qasim">Bin Qasim</input><br />
                    <input name="location" type="radio" value="Clifton Cantt">Clifton Cantt</input><br />
                    <input name="location" type="radio" value="Faisal Cantt">Faisal Cantt</input><br />
                    <input name="location" type="radio" value="Gulberg">Gulberg</input><br />
                    <input name="location" type="radio" value="Jamshed">Jamshed</input><br />
                    <input name="location" type="radio" value="Karachi Cantt">Karachi Cantt</input><br />
                    <input name="location" type="radio" value="Kemari">Kemari</input><br />
                    <input name="location" type="radio" value="Korangi">Korangi</input><br />
                    <input name="location" type="radio" value="Landhi">Landhi</input><br />
                    <input name="location" type="radio" value="Liaquatabad">Liaquatabad</input><br />
                    <input name="location" type="radio" value="Lyari">Lyari</input><br />
                    <input name="location" type="radio" value="Malir">Malir</input><br />
                    <input name="location" type="radio" value="Manora Cantt">Manora Cantt</input><br />
                    <input name="location" type="radio" value="New Karachi">New Karachi</input><br />
                    <input name="location" type="radio" value="Nazimabad">Nazimabad</input><br />
                    <input name="location" type="radio" value="Orangi">Orangi</input><br />
                    <input name="location" type="radio" value="Saddar">Saddar</input><br />
                    <input name="location" type="radio" value="Shah Faisal">Shah Faisal</input><br />
                    <input name="location" type="radio" value="SITE">SITE</input><br />
                    -->
                    <br />
                    What service was this for? (e.g. Passport, FIR)
                    <input name="service" type="text"></input>
                    <!--
                     <input name="service" type="radio" value="Licensing">Licensing</input><br />
                     <input name="service" type="radio" value="Random Police Stop">Random Police Stop</input><br />
                     <input name="service" type="radio" value="Car Tax">Car Tax</input><br />
                     <input name="service" type="radio" value="CNIC">CNIC</input><br />
                     <input name="service" type="radio" value="Passport/visa">Passport/visa</input><br />
                     <input name="service" type="radio" value="FIR">FIR</input><br />
                     <input name="service" type="radio" value="Other">Other</input><br />
-->
                    What is the name of the offending officer?
                    <input type="text" name="officer" name="officer"></input>
                     How much was the requested bribe for? (Enter the details if not monetary)
                     <input type="text" name="amount" name="amount"></input>
                     Please provide any other information that you think will be relevant.
                     <input type="text" name="description" name="description"></input>
                    <p><button type="submit">Submit</button></p>
				</form>
	</body>
</html>