<!doctype html>
<html lang="en">
    <head>
    	<meta charset="utf-8" />
		<title>Corruption Petitioner</title>
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body>
		<div class="container">
			<div class="form-bg">
				<form id="step-3" method="post" action="/step-4">
					<p><select id="service" name="service" data-pring-label="What service was this for? Reply with the corresponding number:"/>
                        <option>Licensing</option>
                        <option>Random Police Stop</option>
                        <option>Car Tax</option>
                        <option>CNIC</option>
                        <option>Passport/visa</option>
                        <option>FIR</option>
                        <option>Other</option>
    				 </select>
					</p>
                    <p><input type="submit" value="Next" /></p>
				</form>
			</div>
		</div>
	</body>
</html>