<!doctype html>
<html lang="en">
    <head>
		<meta charset="utf-8" />
		<title>Corruption Petitioner</title>
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body>
				<form id="step-2" method="post" action="/step-3">
					<p><select id="location" name="location" data-pring-label="Where did this take place? Reply with the corresponding number:"/>
                        <option>Baldia</option>
                        <option>Bin Qasim</option>
                        <option>Clifton Cantt</option>
                        <option>Faisal Cantt</option>
                        <option>Gadap</option>
                        <option>Gulberg</option>
                        <option>Gulshan</option>
                        <option>Jamshed</option>
                        <option>Karachi Cantt</option>
                        <option>Kemari</option>
                        <option>Korangi</option>
                        <option>Landhi</option>
                        <option>Liaquatabad</option>
                        <option>Lyari</option>
                        <option>Malir</option>
                        <option>Manora Cantt</option>
                        <option>New Karachi</option>
                        <option>North Nazimabad</option>
                        <option>Orangi</option>
                        <option>Saddar</option>
                        <option>Shah Faisal</option>
                        <option>SITE</option>
    				 </select>
					</p>
                    <p><input type="submit" value="Next"></p>
				</form>
            	</body>
</html>