<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
    	<title>Corruption Petitioner</title>
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body>
		<div class="container">
			<div class="form-bg">
				<form id="step-6" method="post" action="/ThankYou">
					<p><input type="text" id="description" name="description" data-pring-label="Please provide any other information that you think will be relevant."/>
					</p>
                    <p><input type="submit" value="Submit" /></p>
				</form>
			</div>
		</div>
	</body>
</html>