<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
    	<title>Corruption Petitioner</title>
		<meta name="description" content="">
		<meta name="author" content="">
	</head>
	<body>
		<div class="container">
			<div class="form-bg">
				<form id="step-5" method="post" action="/step-6">
					<p><input type="text" id="amount" name="amount" data-pring-label="How much was the requested bribe for? (Enter the details if not monetary)"/>
					</p>
                    <p><input type="submit" value="Next" /></p>
				</form>
			</div>
		</div>
	</body>
</html>